version: '3'
services:
  nest:
    build:
      context: .
      target: development
    container_name: nest
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
      - 9229:9229
    command: npm run start:debug
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  # redis:
  #   image: redis:alpine
  #   container_name: redis
  #   ports:
  #     - 6379:6379

  # mailhog:
  #   image: mailhog/mailhog
  #   container_name: mailhog
  #   logging:
  #     driver: 'none' # disable logs
  #   ports:
  #     - 1025:1025 # smtp server
  #     - 8025:8025 # web ui

  adminer:
    image: adminer
    container_name: adminer
    depends_on:
      - postgres
    ports:
      - 8080:8080
    environment:
      ADMINER_DEFAULT_SERVER: postgres

volumes:
  postgres:
  node_modules:
