version: '3'
services:
  leave-tracker-api:
    build:
      context: .
      target: development
    container_name: leave-tracker-api
    volumes:
      - .:/app
    ports:
      - ${PORT}:${PORT}
      - 9229:9229
    command: npm run start:dev
    depends_on:
      - postgres

volumes:
  postgres-data:
